* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #414141;
}
nav {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #313030;
    font-size: 2em;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    top: 0;
    left: 0;

}

.headertxt {
    align-self: center;
    margin: 40%
}

.hamicn {
    align-self: flex-start;
}



/*hamburger menu mobil ver.*/
.hamburger {
    display: none;
    position: fixed;
    background-color: #313030;
    width:40%;
    min-height: 100%;
    height: auto;
    flex-direction: column;
    border: solid 1px;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.1s;
    top:0;
    left:0;
}
.hamburgare_js {
    display:block;
}

@keyframes dropHeader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.button {
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
}

a {
    text-decoration: none;
    color:white;
    font-size: 4em;
    text-align: center;
    width: 100%;
    justify-content: center;
}

a:hover {
    color: red;
    
}

/*Nav bar mobil ver.*/

.sideboxes {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.widebox {
    display: flex;
    flex-direction: column
}

.textbox {
    width 50%;
    height: auto;
    color:white;
    font-size: 0.7em;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #313030;
    text-align: center;
}

footer {
    min-height: 10%;
    position:absolute;
    width: 100%;
    background-color: #313030;
    color: white;
    bottom: 0;

}